@import "vars.sass"
@import "bourbon"
.footer
	margin-top: -3px
	position: relative
	z-index: 3
	min-height: 200px
	background-color: #1f1f1f
	padding: 40px 0 60px 0
	position: relative
	color: #fff
	text-align: left
	&::before
		z-index: 2
		content: ''
		position: absolute
		top: 0
		left: 0
		width: 100%
		height: 4px
		@include linear-gradient(to right, #5b499b 0%, #f0678c 50%, #f0678c 80%, #5a489a 100%);
	.container
		position: relative
		&::before
			content: ''
			z-index: 3
			position: absolute
			background: url(../img/bang-show-logo_s.png) no-repeat
			width: 83px
			height: 56px
			top: -65px
			left: 0
	.contacts-phone
		a
			font-size: 15px
			display: block
			transition: color 0.2s ease
			&:hover
				color: $orange
	a
		color: inherit
	ul
		margin: 0
		padding-left: 0
		color: #fff
		font-family: $text-bold
		font-size: 15px
		line-height: 24px
		font-weight: 100
		a
			color: inherit
			transition: color 0.2s ease
			&:hover
				color: $orange

	h6
		margin-top: 0
		margin-bottom: 10px
		font-family: $text-bold
		text-align: left
		letter-spacing: normal
	.registration
		font-family: $text-main
		text-align: right
		color: $orange
		li:last-child
			margin: 0
.f-email
	font-size: 14px
	text-align: right
	padding-right: 5px
.copyright
	background-color: #000
	color: #fff
	position: absolute
	bottom: 0
	left: 0
	width: 100%
	text-align: center
	padding: 5px 15px	
	a
		color: $orange
		transition: color 0.3s ease
		text-transform: uppercase
		font-size: 14px
		font-family: $text-bold
		&:hover
			color: #fff
	span
		font-size: 12px